@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('./fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  }
  
  body {
    font-family: 'Bricolage Grotesque', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif;
  }

  